* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(hero-bg.jpg);
    background-position: top;
    background-size: c;
}

.logo {
    font-family: cursive;
    font-size: 2.6rem;
    color: aliceblue;
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 38px;
}

nav a,
.headericons a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 16.8px;
    font-weight: 500;

    &:hover {
        color: orangered;
    }
}

.headericons {
    display: flex;
    gap: 24px;
    align-items: center;
    color: white;

    &:hover {
        color: orangered;
    }
}

button {
    background: rgb(255, 170, 11);
    color: antiquewhite;
    padding: 10px 26px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border: 0;
}

button {
    &:hover {
        background: orangered;
    }
}

.content h2 {
    font-size: 49px;
    margin-bottom: 22.4px;
    font-family: cursive;
    font-weight: 700;
}

.content p {
    font-size: 18.88px;
    margin-bottom: 40px;
    max-width: 520px;
}

.content {
    color: #fff;
    height: 100vh;
    padding: 10px 50px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.box {
    width: 100%;
    background: #001;
    padding: 12px;
    border-radius: 6px;
    color: #fff;
    display: flex;
    gap: 30px;
}

.box-img {
    border: 4px solid orange;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
    }
}

h2 {
    font-family: cursive;
    font-size: 20px;
    margin: 0 0 4px 0;
    letter-spacing: -0.5px;
}

.box span {
    font-size: 33.6px;
    margin: 0 0 8px 0;
    font-family: cursive;
}

.discount {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 1024px;
    width: 90%;
    margin: 30px auto;
}

.menu .card {
    background: #001;
    color: #fff;
    overflow: hidden;
    border-radius: 8px;
    max-width: 320px;
    width: 90%;
}

.menu .top {
    border-radius: 0 0 0 30px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
}

.menu .bottom {
    padding: 30px;
}

.menu .action {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.menucontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px auto;
    max-width: 1024px;
    width: 100%;
    justify-content: center;

}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 1024px;
    width: 90%;
    margin: 30px auto;
}

.about-content div {
    width: 100%;
}

.about {
    background-color: #001;
    color: #fff;
    padding: 50px 0;
}

.cart {
    width: 10px;
    height: 10px;
    background: rgb(255, 170, 11);
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: white;
}

.top img {
    &:hover {
        transform: scale(1.1);
    }
}

.menu {
    text-align: center;
}

h3 {
    font-family: cursive;
    font-size: 50px;
    font-weight: 1;
}

.menu-nav {
    margin: 40px;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-family: cursive;
}

 

/*  */
.book_table form input {
    display: block;
    width: 100%;
    padding: 12px;
    border: .6px solid #808088;
    border-radius: 5px;
    margin: 25px auto;
    outline: 0;
}

.book_table {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 90%;
    margin: 40px auto;
}

.book_table form,
.book_table iframe {
    width: 100%;
}

.testimony .card .top {
    background: #001;
    padding: 15px;
    border-radius: 8px;
}

.testimony .content {
    display: flex;
    gap: 30px;
    max-width: 1024px;
    margin: 30px auto;
}

.testimony img {
    border-radius: 50%;
    border: 5px solid orange;
    margin: 30px;
}

.tentcon {
    display: flex;
    background: #001;
    color: white;
    align-items: flex-start;
    justify-content: center;
}

footer .col {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.col p {
    align-items: center;
    margin: 30px auto;
}

.col_link {
    margin: 21px auto;
    display: flex;
    gap: 10px;

}

 
.col b {
    font-family: cursive;
    font-size: 25px;
    font-weight: 1;
    display: flex;
    align-content: center;
    margin-top: 45px;
}

.col a {
    margin: 10px auto;
    color: white;
    text-decoration: none;
}

.last_part {
    background: #001;
    color: white;
    text-align: center;
    display: grid;
    gap: 24px;
    padding-bottom: 40px;
    font-size: 17px;
}

.col_link a {
    background: white;
    width: 30px;
    height: 30px;
    color: #001;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    nav,.headericons{
        display: none;
    }
    .discount, .about-content, .book_table,.tentcon{
        flex-direction: column;
    }
    .menu .card{
        max-width: 450px;
    }
}